#timeline-section{
    height: 100vh;
    position: relative;
    padding-top: 8vh;
    box-sizing: border-box;
}

.timeline-section-headline{
    font-weight: 300;
    font-size: 2em;
}

.subsection{
    height: 30vh;
    width:100%;
}

.timeline{
    position: absolute;
    top:75vh;
    height: 10vh;
    width: 100%;
    padding-top: 8vh;
}

.timeline ul{
    margin: auto;
    width: 80%;
    display:grid;
    grid-template-columns: repeat(7, 1fr);
}

.timeline ul li{
    background-color: grey;
    height: 3vh;
    line-height: 3vh;
    border-right: 1px #53505a solid;
}

.timeline ul li:last-child{
    border: none;
}

@media only screen and (max-width: 600px){
    .timeline{
        top:85vh;
    }
}