.work-subsection{
    position: absolute;
    top:40vh;
    padding-top:13vh;
}

.work-timeline{
    display: grid;
    grid-template-columns: 18fr 45fr 20fr 13fr;
    width: 85%;
    margin: auto;
}

.work-timeline li{
    height: 3vh;
    line-height: 3vh;
}

.work-timeline li:nth-child(1){
    background-color: aliceblue;
}

.work-timeline li:nth-child(2){
    background-color: lightblue;
}

.work-timeline li:nth-child(3){
    background-color: lightseagreen;
}

.work-timeline li:nth-child(4){
    background-color:cornflowerblue;
}

.work-descriptions{
    width:85%;
    display: grid;
    grid-template-columns: 18fr 20fr 25fr 20fr 13fr;
    margin: auto;
    padding-top: 30px;
}

.work-descriptions li{
    padding-top: 20px;
}

.work-title{
    font-weight: 600;
    margin-bottom: 15px
}



@media only screen and (max-width: 600px){
    .work-timeline li{
        height: 6vh;
        line-height: 6vh;
    }
    
    .work-subsection{
        top:30vh;
    }
    .work-timeline{
        width: 100%;
    }
    
    .cubitabo-description, .siemens-description, .freelance-description, .axel-springer-description{
        display: none;
    }
    #axel-springer-timeline{
        line-height: 3vh;
    }
    

}